{% include '/partials/headerForm.html' %}
                          <!-- prs form start-->
    <form method="POST" action="">
                            <div class='login' style="padding-top: 100" style="color:white"> 
                                <h2 style="color:white; margin-top: 40">Login</h2>
                                <input name='username' placeholder='Username' type='text' style="color:white;margin-top: 20">
                                <input id='pw' name='password' placeholder='Password' type='password' style="color:white;margin-top: 20">
                            
                                <input class='animated' type='submit' value='Login' style="margin-top: 30" >
                                <a class='forgot' href='/signup' style="color:white"> Don't have a account?</a>
                            </div>
    </form>
                        <!-- prs form end-->
{% include '/partials/footerForm.html' %}